*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 16px;
}

.item {
    width: 75%;
    height: 50px;
    background-color: rgb(245, 186, 222);
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.resultado{
    width: 100px;
    height: 20px;
    background-color:aliceblue;
    color: black
}
 button{
    padding: 0 8px;
 }

.resposta{
    width: 100px;
    height: 20px;
    background-color: whitesmoke;
    color: black;
}